doctype 5
html
    head
        title My title for pug/sass
        link(rel='stylesheet', href='css/style.css')
    body
        h1 Hello world
        p Where you from?
        button.btn.btn_default BUTTON
        button.btn.btn_success BUTTON
        button.btn.btn_info BUTTON
        button.btn.btn_primary BUTTON