html
    height: 100%
    font-size: 100%

body
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    color: white
    background: linear-gradient(to top right, #170e19, #9f6aa1, #d4a6aa)
    font-family: $fontStack
    font-size: 100%
    padding: 0px
    margin: 0px
    min-height: 100%
    position: relative

h1, h2, h3, h4, h5, h6 
    font-family: $fontHeader
    font-weight: 700
    color: white
    margin: 0

.line
  position: relative
  z-index: 1
  overflow: hidden
  text-align: center
  font-size: 14px
  color: rgba(255, 255, 255, 0.7)

.line:before,
.line:after 
  content: ''
  display: inline-block
  width: 100%
  height: 1px
  background: rgba(255, 255, 255, 0.3)
  z-index: -1
  position: relative
  vertical-align: middle

.line:before 
  right: 15px
  margin: 0 0 0 -100%

.line:after 
  left: 15px
  margin: 0 -100% 0 0

    