$fontHeader: Roboto, sans-serif
$fontStack: Roboto, sans-serif

$defaultColor: rgb(136, 124, 140) //grey
$defaultColorHover: rgb(116, 102, 120) //lighter grey
$primaryColor: rgb(61, 77, 135) //dark blue
$primaryColorHover: rgb(91, 110, 164) //lighter dark blue
$successColor: rgb(59, 112, 78)
$successColorHover: rgb(85, 143, 106)
$infoColor: rgb(73, 114, 147)
$infoColorHover: rgb(104, 146, 178)